*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(130, 151, 191);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.menu_principal{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}


.input1{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    
} 

.button1{  
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(236, 239, 241);
}


.tarea{
    margin-left: 2rem;
    margin-top: 2rem;
}

ul{
    list-style: none;
  }

